* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    /* user-select: none; */
}

body::selection {
    background-color: rgb(30, 0, 255);
    color: yellow;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary-color);
    background-color: var(--white);
    line-height: 1.6;
}

:root {
    --primary-color: #0f0f10;
    --secondary-color: #74e1efde;
    --accent-color: #808284;
    --light-bg: #ecf0f1;
    --dark-text: #0b0c0c;
    --white: #ffffff;
    --shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    --transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

}

.header {
    position: sticky;
    top: 0;
    background-color: var(--white);
    box-shadow: 0 2px 10px #0000001a;
    z-index: 100;
    animation: slideDown 1s ease-out;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5%;
    max-width: 1400px;
    margin: 0 auto;
}

.logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--primary-color);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: var(--dark-text);
    font-weight: 500;
    position: relative;
    transition: var(--transition);
}


.nav-links a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--secondary-color);
    transition: var(--transition);
}

.nav-links a:hover::after {
    width: 100%;
}

.hero {
    background: #020024;
    background: radial-gradient(circle, rgba(25, 25, 25, 0.977) 9%, rgb(11, 11, 11) 35%, rgba(1, 1, 1, 0.108) 76%);
    color: var(--white);
    padding: 8rem 5%;
    text-align: center;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 2s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.hero-content {
    animation: slideUp 08s ease-out;
}

@keyframes slideUp {
    from {
        transform: translateY(40px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.hero-title {
    font-size: 3.5rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
    font-weight: 700;
}

.hero-subtitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-weight: 300;
    letter-spacing: 4px;
}

.cta-button {
    background-color: var(--secondary-color);
    color: var(--white);
    border: none;
    padding: 1rem 2.5rem;
    font-size: 1rem;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    transition: var(--transition);
    box-shadow: 0 5px 15px rgba(212, 211, 203, 0.562);
}

.cta-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 25px rgba(40, 175, 168, 0.795);
    background-color: #020202;
}

.cta-button:active {
    transform: translateY(-1px);
    background-color: #e1fafa;
}

.about {
    padding: 5rem 5%;
    max-width: 1200px;
    margin: 0 auto;
    animation: fadeIn 1s ease-out;
}

.about h2 {
    font-size: 2.5rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 2rem;
    color: var(--primary-color);
    text-align: center;
}

.about-content p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    line-height: 1.8;
    text-align: justify;
    color: #555;
}

.gallery {
    padding: 5rem 5%;
    background-color: var(--light-bg);
}

.gallery h2 {
    font-size: 2.5rem;
    font-family: serif;
    text-align: center;
    margin-bottom: 3rem;
    color: var(--primary-color);
}

.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 1400px;
    margin: 0 auto;
    justify-content: center;
}

.gallery-item {
    position: relative;
    width: calc(33.333% - 1.35rem);
    aspect-ratio: 4/3;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: var(--shadow);
    cursor: pointer;
    animation: scaleIn 0.6s ease-out;
}

@keyframes scaleIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.gallery-item:nth-child(1) {
    animation-delay: 0.1s;
}

.gallery-item:nth-child(2) {
    animation-delay: 0.2s;
}

.gallery-item:nth-child(3) {
    animation-delay: 0.3s;
}

.gallery-item:nth-child(4) {
    animation-delay: 0.4s;
}

.gallery-item:nth-child(5) {
    animation-delay: 0.5s;
}

.gallery-item:nth-child(6) {
    animation-delay: 0.6s;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition);
}

.gallery-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.466);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
    opacity: 0;
    transition: var(--transition);
}

.gallery-item:hover img {
    transform: scale(1.3) rotate(5deg);
    filter: hue-rotate(300deg);
}

.gallery-item:hover .gallery-overlay {
    opacity: 1;
}

.gallery-overlay p {
    font-size: 1rem;
    animation: slideInUp 0.5s ease-out;
}

.gallery-overlay h3 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    animation: slideInUp 0.5s ease-out;
}

@keyframes slideInUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.skills {
    /* font-size: 2rem; */
    padding: 5rem 5%;
    max-width: 1200px;
    margin: 0 auto;
}

.skills h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 3rem;
    color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.skill-card {
    width: calc(25% - 1.5rem);
    background-color: var(--light-bg);
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    transition: var(--transition);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.493);
    animation: fadeInUp 0.5s ease-out;
}

@keyframes fadeInUp {
    from {
        transform: translateY(30px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.skill-card:nth-child(1) {
    animation-delay: 0.1s;
}

.skill-card:nth-child(2) {
    animation-delay: 0.2s;
}

.skill-card:nth-child(3) {
    animation-delay: 0.3s;
}

.skill-card:nth-child(4) {
    animation-delay: 0.4s;
}

.skill-card:hover {
    transform: translateY(-10px);
    box-shadow: var(--shadow);
    background: #020024;
    background: radial-gradient(circle, rgba(2, 0, 36, 0.96) 9%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 76%);
    color: var(--white);
}

.skill-icon {
    font-size: 3rem;
    margin-bottom: 1rem;
    display: inline-block;
    transition: var(--transition);
}

.skill-card:hover .skill-icon {
    transform: scale(1.2) rotate(10deg);
}

.skill-care h3 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.skill-card p {
    font-size: 0.9rem;
    line-height: 1.5;
}

.contact {
    padding: 5rem 5%;
    background-color: var(--light-bg);
    text-align: center;
}

.contact h2 {
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2rem;
    color: var(--primary-color);
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    gap: 1.5rem;
    animation: fadeIn 1s ease-out;
}

.contact-form input,
.contact-form textarea {
    padding: 1rem;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    transition: var(--transition);
    resize: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border-color: var(--accent-color);
    box-shadow: 0 0 10px rgba(30, 126, 204, 0.712);
}

.submit-button {
    background-color: var(--secondary-color);
    color: var(--white);
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: 600;
    transition: var(--transition);
    box-shadow: 0 5px 15px rgba(231, 76, 60, 0.4);
}

.submit-button:hover {
    background-color: #20b5da;
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(13, 205, 219, 0.536);
}

.footer {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 2rem 5%;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content p {
    margin-bottom: 1rem;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.social-link {
    color: var(--white);
    text-decoration: none;
    transition: var(--transition);
    font-weight: 500;
}

.social-link:hover {
    color: var(--secondary-color);
    transform: translateY(-3px);
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 50px;
    height: 50px;
    background-color: var(--secondary-color);
    color: var(--white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 5px 15px #00000079;
    z-index: 99;
    transition: var(--transition);
}

.back-to-top:hover {
    background-color: #c0392b;
    box-shadow: 5 15px 15px #e4970879;
    transform: translateY(-5px);
}

/* ----------RESPONSIVIDADE---------- */

@media (max-width: 1024px) {

    .gallery-item {
        width: calc(50% - 1rem);
    }

    .sill-card {
        width: calc(50% - 1rem);
    }

    .hero-title {
        font-size: 2.5rem;
    }

    .nav-links {
        gap: 1rem;
    }
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 1rem;
    }

    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .hero {
        padding: 4rem 5%;
        min-height: 400px;
    }

    .hero-title {
        font-size: 2rem;
    }

    .hero-subtitle {
        font-size: 1.2rem;
    }

    .gallery-item {
        width: 100%;
    }

    .skill-car {
        width: 100%;
    }

    .about h2,
    .gallery h2,
    .skills h2,
    .contact h2{
        font-size: 2rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .about-content p{
        text-align: left;
    }
}